# code: language=yaml
# yaml-language-server: $schema=../../.up/json/models/index.schema.json

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: resource-state-metrics
  namespace: {{ $xr.spec.parameters.namespace.name }}
  annotations:
    {{ setResourceNameAnnotation "serviceaccount" }}
  labels:
    app.kubernetes.io/component: exporter
    app.kubernetes.io/name: resource-state-metrics
    app.kubernetes.io/version: 0.0.1
automountServiceAccountToken: false
